h1 {
    color: blue;
}
#heading-2 {
    color: yellow;
}
.heading {
    color: red;
}
.para {
    border: 2px;
    border-color: black;
    border-style: solid;
    padding: 15px;
    text-align: center;
}
.navbar {
    border : 2px;
    border-style : solid;
    border-color : black;
    padding : 10px;
    background-color : skyblue;
    text-align : center;
}
.navbar a{
    color : darkblue;
    padding : 10px;
    text-decoration : none; /*to remove underline*/

}
.navbar a:hover {
    background-color : lightpink;
    color : rgb(185, 44, 68);
}
body {
    margin : 0px;
}
.card {
    border : 2px solid black;
    width : 300px;
    text-align : center;
    margin-top : 60px;
    margin-left : auto;
    margin-right : auto;
    margin-bottom : 20px;
}
.card img{
    width : 100%; 
}